body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

.row {
  padding: 0px;
}

.controls {
  text-indent: 40px;
  padding: 20px;
}

.form-control {
  border:1px solid #555555;
  border-radius: 0px;
}

.form-horizontal {
  margin-left: 40px;
}

.control-label.col-md-3 {
  text-align: left;
}

#wifi-fields. #wired-fields, #ntp-fields, #dns-fields {
  display: none;
}

span.glyphicon:hover {
  cursor: pointer;
}

.app-btn {
    vertical-align: middle;
    margin-top: 5px;
}

.checkbox-custom#disable-network-manager {
    vertical-align: top;
}
